

<div
  style="padding-top: 15px; padding-bottom: 5px; margin-top: 10px"
  class="row"
>

  <input [(ngModel)]="filterColor" type="text" class="form-control" id="filterColor" placeholder="Renk Ara">

  <select style="margin-top: 5px;"  class="form-select mt-2" aria-label="size 3 select example">
    <option selected="getCurrentColorClass(color)" routerLink="/cars" value="">Tüm Renkler</option>
    <option
      routerLink="/cars/color/{{color.id}}"
      *ngFor="let color of colors | colorPipe:filterColor"
      value="{{ color.id }}"
      
    >
      {{ color.colorName }}
    </option>
  </select>
</div>