<div
  style="padding-top: 15px; padding-bottom: 5px; margin-top: 10px"
  class="row"
>
<input [(ngModel)]="filterBrand" type="text" class="form-control" id="filterBrand" placeholder="Marka Ara">
  <select style="margin-top: 5px;"  class="form-select mt-2" size="8" aria-label="size 3 select example">
    <option selected="getCurrentBrandClass(brand)" routerLink="/cars" value="">Tüm Markalar</option>
    <option
      routerLink="/cars/brand/{{ brand.brandId }}"
      *ngFor="let brand of brands | brandPipe:filterBrand"
      value="{{ brand.brandId }}"
    >
      {{ brand.brandName }}
    </option>
  </select>
</div>
