
<div  style="width: 100%; " class=" d-flex flex-wrap justify-content-between justify-content-xl-start">
<div *ngFor="let car of cars"   class="card " style="width: 18rem; margin: 2rem;">
  <a href="{{imagePath}}/{{car.imagePath}}">
    <img  src="{{imagePath}}/{{car.imagePath}}" class="card-img-top" title="{{car.carName}}" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Recap Rent A Car</h5>
      <p class="card-text">Trafik kurallarına uyalım uymayanları uyaralım...</p>
    </div>
    <ul  class="list-group list-group-flush">
      <li class="list-group-item">Marka: {{car.brandName}}</li>
       <li class="list-group-item">Model: {{car.carName}}</li> 
      <li class="list-group-item">Fiyat: {{car.dailyPrice}}</li>
    </ul>
    <div  class="card-body">
      <a  routerLink="cars/cardetail/{{car.carId}}" class="card-link btn btn-secondary"
    
      >Detay </a>
      <a href="#" class="card-link btn btn-success">Kirala</a>
    </div>
  </div>
</div> 
