<div  class="d-flex justify-content-between d-sm-flex">
  <div class="row ">
    <div
      *ngFor="let car of cars | carPipe: filterCar"
      class="card col-md-2"
      style="width: 15rem; margin-top: 10px"
    >
      <img
        src="{{ imagePath }}/{{ car.imagePath }}"
        class="card-img-top"
        title="{{ car.carName }}"
        alt="..."
      />

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Marka: {{ car.brandName }}</li>
        <li class="list-group-item">
          Fiyat: {{ car.dailyPrice | currency: '₺' }}
        </li>
      </ul>

      <a
        (click)="setCurrentCars(car)"
        routerLink="/cars/cardetail/{{ car.carId }}"
        class="card-link btn btn-success"
        >Detay</a
      >
    </div>
  </div>
</div>
